<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @job.code %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @job.owner %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
